<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    {% assign description = page.excerpt | default: site.summary | strip_html | normalize_whitespace | escape %}<meta name="description" content="{{ description }}">

    <!-- Open Graph http://ogp.me/ -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}/">
    {% if page.image %}<meta property="og:image" content="{{ page.image }}">{% endif %}

</head>
<body class="{{ page.title | slugify }}">
    <header role="banner" id="banner">
        <a href="{{ site.baseurl }}/">
            <h1><em>Design</em>Lab</h1>
            <p>{{ site.summary }}</p>
        </a>
    </header>
    <main id="main" role="main">
        {{ content }}
    </main>
    <script src="{{ site.baseurl }}/script.js"></script>
</body>
</html>